In [16]:
import pandas as pd
df = pd.read_csv(r"C:\Users\bharo\Downloads\archive\us_state_vaccinations.csv")
df

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54623,2023-05-06,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,133.0,NaN,NaN,NaN
54624,2023-05-07,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,173.0,NaN,NaN,NaN
54625,2023-05-08,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,213.0,NaN,NaN,NaN
54626,2023-05-09,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,252.0,NaN,NaN,NaN
54627,2023-05-10,Wyoming,854132.0,1281755.0,353727.0,53.15,147.58,307619.0,61.12,221.47,NaN,170.0,294.0,0.666,219773.0,37.97

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54628 entries, 0 to 54627
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 54628 non-null  object
 1   location                             54628 non-null  object
 2   total_vaccinations                   32532 non-null  float64
 3   total_distributed                    32272 non-null  float64
 4   people_vaccinated                    32268 non-null  float64
 5   people_fully_vaccinated_per_hundred  30651 non-null  float64
 6   total_vaccinations_per_hundred       30750 non-null  float64
 7   people_fully_vaccinated              32188 non-null  float64
 8   people_vaccinated_per_hundred        30726 non-null  float64
 9   distributed_per_hundred              30730 non-null  float64
 10  daily_vaccinations_raw               28354 non-null  float64
 11  daily_vaccinations                   54563 non-null  float64
 12  daily_vaccinations_per_million       51716 non-null  float64
 13  share_doses_used                     32272 non-null  float64
 14  total_boosters                       18116 non-null  float64
 15  total_boosters_per_hundred           17254 non-null  float64
dtypes: float64(14), object(2)
memory usage: 6.7+ MB

In [18]:
#convert date from object to date format
# 
df['date'] = pd.to_datetime(df['date'] )
df = df.set_index(['date'])
df.sort_index(inplace = True, ascending = True)
df.loc['2020-01-13':'2021-03-07']

,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
date,,,,,,,,,,,,,,,
2020-12-20,United States,556208.0,NaN,NaN,NaN,0.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-21,United States,614117.0,NaN,NaN,NaN,0.18,NaN,NaN,NaN,57909.0,57909.0,174.0,NaN,NaN,NaN
2020-12-22,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127432.0,384.0,NaN,NaN,NaN
2020-12-23,United States,1008025.0,NaN,NaN,NaN,0.30,NaN,NaN,NaN,NaN,150606.0,454.0,NaN,NaN,NaN
2020-12-24,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191001.0,575.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-07,South Carolina,1347330.0,1642615.0,851400.0,9.48,26.17,488020.0,16.54,31.90,62755.0,37254.0,7236.0,0.820,NaN,NaN
2021-03-07,Dept of Defense,1130833.0,1711265.0,758512.0,NaN,NaN,361473.0,NaN,NaN,36268.0,19726.0,NaN,0.661,NaN,NaN
2021-03-07,Oregon,1172840.0,1420125.0,742710.0,9.97,27.81,420302.0,17.61,33.67,34976.0,25491.0,6044.0,0.826,NaN,NaN
2021-03-07,Texas,6938167.0,9250505.0,4313322.0,8.11,23.93,2351296.0,14.88,31.90,108892.0,195936.0,6757.0,0.750,NaN,NaN
2021-03-07,Michigan,2716893.0,3363430.0,1758766.0,9.82,27.20,980255.0,17.61,33.68,79540.0,56925.0,5700.0,0.808,NaN,NaN

In [19]:
# dropping unnecessary columns
df = df[['location','total_vaccinations', 'total_distributed','people_vaccinated','people_fully_vaccinated']] 
df

,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated
date,,,,,
2020-12-20,United States,556208.0,NaN,NaN,NaN
2020-12-21,United States,614117.0,NaN,NaN,NaN
2020-12-22,United States,NaN,NaN,NaN,NaN
2020-12-23,United States,1008025.0,NaN,NaN,NaN
2020-12-24,United States,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2023-05-10,Kentucky,7510137.0,12200975.0,3086324.0,2669260.0
2023-05-10,Louisiana,6961453.0,10282120.0,2924163.0,2561641.0
2023-05-10,Maine,3542346.0,4981040.0,1315892.0,1124112.0
2023-05-10,Georgia,17124791.0,28727475.0,7287758.0,6103647.0
2023-05-10,Wyoming,854132.0,1281755.0,353727.0,307619.0

In [20]:
df1 = df.groupby(['location'])['total_vaccinations', 'total_distributed','people_vaccinated'].sum().reset_index()

C:\Users\bharo\AppData\Local\Temp\ipykernel_13916\2169059221.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1 = df.groupby(['location'])['total_vaccinations', 'total_distributed','people_vaccinated'].sum().reset_index()

In [21]:
df1.isnull().sum()
df1 = df1.fillna(0)

In [22]:
#converting states to abbreviation
states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
states = {state: abbrev for state, abbrev in states.items()}
df1['State'] = df1['location'].map(states)
df1 = df1.groupby(['State'])['total_vaccinations', 'total_distributed','people_vaccinated'].sum().reset_index()


df1= df1.astype({'total_vaccinations':int, 'total_distributed':int,'people_vaccinated':int})


df1

C:\Users\bharo\AppData\Local\Temp\ipykernel_13916\3034364843.py:65: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1 = df1.groupby(['State'])['total_vaccinations', 'total_distributed','people_vaccinated'].sum().reset_index()
C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

   State  total_vaccinations  total_distributed  people_vaccinated
0     AK           396405330          540447125          194353901
1     AL         -2147483648        -2147483648         1219792045
2     AR          1569412128        -2147483648          808560581
3     AS            34888693           39456780           17036877
4     AZ         -2147483648        -2147483648         2119475753
5     CA         -2147483648        -2147483648        -2147483648
6     CO         -2147483648        -2147483648         1867342228
7     CT         -2147483648        -2147483648         1367899720
8     DC           496802963          629767115          237198103
9     DE           651958671          855335510          318623031
10    FL         -2147483648        -2147483648        -2147483648
11    GA         -2147483648        -2147483648        -2147483648
12    GU           120850847          121614080           58692166
13    HI           985429482         1205502370          483425052
14    IA          1918848515        -2147483648          900599450
15    ID           803804280         1127004750          391237311
16    IL         -2147483648        -2147483648         2064329460
17    IN         -2147483648        -2147483648         1712160680
18    KS          1191995401         1578188505          631526697
19    KY         -2147483648        -2147483648         1101941853
20    LA         -2147483648        -2147483648         1143727056
21    MA         -2147483648        -2147483648        -2147483648
22    MD         -2147483648        -2147483648         2044099793
23    ME           971417947         1176276150          468986307
24    MI         -2147483648        -2147483648        -2147483648
25    MN         -2147483648        -2147483648         1766330432
26    MO         -2147483648        -2147483648         1644210413
27    MP            38572756           48383820           17911910
28    MS          1419898624         2040315725          708855749
29    MT           599091364          752652975          290059510
30    NC         -2147483648        -2147483648        -2147483648
31    ND           412121177          510518895          199689133
32    NE          1189418424         1467276560          562062176
33    NH           419899640          556145280          224602842
34    NJ         -2147483648        -2147483648        -2147483648
35    NM          1320306219         1493074120          660806287
36    NV          1742944862         2103114375          891498673
37    OH         -2147483648        -2147483648        -2147483648
38    OK         -2147483648        -2147483648         1122260647
39    OR         -2147483648        -2147483648         1351727257
40    PA         -2147483648        -2147483648        -2147483648
41    PR          1178635415         1390349495          621308671
42    RI           809500253          969100090          405979491
43    SC         -2147483648        -2147483648         1380924664
44    SD           520238282          680489610          265422260
45    TN         -2147483648        -2147483648         1717394964
46    TX         -2147483648        -2147483648        -2147483648
47    UT          1874030463        -2147483648          915207383
48    VA         -2147483648        -2147483648        -2147483648
49    VT           429034888          533483905          199953681
50    WA         -2147483648        -2147483648        -2147483648
51    WI         -2147483648        -2147483648         1745159829
52    WV           924033414         1427115340          443556735
53    WY           233794490          306907810          116294006

In [23]:
import sqlite3

#database setup
conn = sqlite3.connect('covid_df1.db')

#load df2 file to SQLite
# create table name
df1.to_sql('table1',conn, if_exists = 'replace')
# close the connection
conn.close()

In [24]:
conn = sqlite3.connect('covid_df1.db')
df1 = pd.read_sql('SELECT * FROM table1',conn)
df1

    index State  total_vaccinations  total_distributed  people_vaccinated
0       0    AK           396405330          540447125          194353901
1       1    AL         -2147483648        -2147483648         1219792045
2       2    AR          1569412128        -2147483648          808560581
3       3    AS            34888693           39456780           17036877
4       4    AZ         -2147483648        -2147483648         2119475753
5       5    CA         -2147483648        -2147483648        -2147483648
6       6    CO         -2147483648        -2147483648         1867342228
7       7    CT         -2147483648        -2147483648         1367899720
8       8    DC           496802963          629767115          237198103
9       9    DE           651958671          855335510          318623031
10     10    FL         -2147483648        -2147483648        -2147483648
11     11    GA         -2147483648        -2147483648        -2147483648
12     12    GU           120850847          121614080           58692166
13     13    HI           985429482         1205502370          483425052
14     14    IA          1918848515        -2147483648          900599450
15     15    ID           803804280         1127004750          391237311
16     16    IL         -2147483648        -2147483648         2064329460
17     17    IN         -2147483648        -2147483648         1712160680
18     18    KS          1191995401         1578188505          631526697
19     19    KY         -2147483648        -2147483648         1101941853
20     20    LA         -2147483648        -2147483648         1143727056
21     21    MA         -2147483648        -2147483648        -2147483648
22     22    MD         -2147483648        -2147483648         2044099793
23     23    ME           971417947         1176276150          468986307
24     24    MI         -2147483648        -2147483648        -2147483648
25     25    MN         -2147483648        -2147483648         1766330432
26     26    MO         -2147483648        -2147483648         1644210413
27     27    MP            38572756           48383820           17911910
28     28    MS          1419898624         2040315725          708855749
29     29    MT           599091364          752652975          290059510
30     30    NC         -2147483648        -2147483648        -2147483648
31     31    ND           412121177          510518895          199689133
32     32    NE          1189418424         1467276560          562062176
33     33    NH           419899640          556145280          224602842
34     34    NJ         -2147483648        -2147483648        -2147483648
35     35    NM          1320306219         1493074120          660806287
36     36    NV          1742944862         2103114375          891498673
37     37    OH         -2147483648        -2147483648        -2147483648
38     38    OK         -2147483648        -2147483648         1122260647
39     39    OR         -2147483648        -2147483648         1351727257
40     40    PA         -2147483648        -2147483648        -2147483648
41     41    PR          1178635415         1390349495          621308671
42     42    RI           809500253          969100090          405979491
43     43    SC         -2147483648        -2147483648         1380924664
44     44    SD           520238282          680489610          265422260
45     45    TN         -2147483648        -2147483648         1717394964
46     46    TX         -2147483648        -2147483648        -2147483648
47     47    UT          1874030463        -2147483648          915207383
48     48    VA         -2147483648        -2147483648        -2147483648
49     49    VT           429034888          533483905          199953681
50     50    WA         -2147483648        -2147483648        -2147483648
51     51    WI         -2147483648        -2147483648         1745159829
52     52    WV           924033414         1427115340          443556735
53     53    WY           233794490          306907810          116294006